<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ixcoret.blog.mapper.CategoryMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_category (name, create_time)
        values (#{name}, #{createTime})
    </insert>

    <update id="update">
        update t_category
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete
        from t_category
        where id = #{id}
    </delete>
    <delete id="deleteBatch">
        delete
        from t_category
        where
        id in (
        <foreach collection="ids" item="item" separator=",">
            #{item}
        </foreach>
        )
    </delete>

    <select id="listBackCategories" resultType="com.ixcoret.blog.pojo.vo.CategoryBackVO">
        select c.id, c.name, count(a.id) as articleCount, c.create_time as createTime
        from t_category c
                 left join t_article a on c.id = a.category_id
        group by c.id
    </select>

</mapper>