<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ixcoret.blog.mapper.CategoryMapper">

    <sql id="Base_Column_List">
        id, category_name categoryName, create_time createTime
    </sql>

    <insert id="save" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_category (category_name, create_time)
        values (#{categoryName}, #{createTime})
    </insert>

    <update id="update">
        update t_category
        <set>
            <if test="categoryName != null and categoryName != ''">
                category_name = #{categoryName},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete
        from t_category
        where id = #{id}
    </delete>
    <delete id="deleteBatch">
        delete
        from t_category
        where
        id in (
        <foreach collection="ids" item="item" separator=",">
            #{item}
        </foreach>
        )
    </delete>

    <select id="listBackCategories" resultType="com.ixcoret.blog.vo.CategoryBackVO">
        select c.id, c.category_name categoryName, count(a.id) articleCount, c.create_time createTime
        from (select id, category_name, create_time from t_category order by id desc limit #{index}, #{pageSize}) c
                 left join t_article a on c.id = a.category_id
        group by c.id
    </select>

    <select id="countCategories" resultType="java.lang.Integer">
        select count(id)
        from t_category
    </select>

    <select id="selectByName" resultType="com.ixcoret.blog.entity.Category">
        select
        <include refid="Base_Column_List"/>
        from
        t_category where category_name = #{categoryName}
    </select>

    <select id="listCategoryOptions" resultType="com.ixcoret.blog.vo.CategoryOptionVO">
        select id, category_name categoryName
        from t_category
    </select>

</mapper>