<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ixcoret.blog.mapper.SysUserMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ixcoret.blog.entity.SysUser">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="avatar" property="avatar"/>
        <result column="signature" property="signature"/>
        <result column="introduction" property="introduction"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <select id="getByUsername" resultMap="BaseResultMap">
        select id,
               username,
               password,
               avatar,
               signature,
               introduction,
               create_time,
               update_time
        from t_sys_user
        where username = #{username}
    </select>
</mapper>