<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ixcoret.blog.mapper.TagMapper">

    <sql id="Base_Column_List">
        id, tag_name tagName, create_time createTime
    </sql>

    <insert id="saveBatch" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_tag(tag_name, create_time) values
        <foreach collection="tags" item="tag" separator=",">
            (#{tag.tagName}, #{tag.createTime})
        </foreach>
    </insert>

    <update id="update">
        update t_tag
        <set>
            <if test="tagName != null and tagName != ''">
                tag_name = #{tagName}
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="save">
        insert into t_tag (tag_name, create_time)
        values (#{tagName}, #{createTime})
    </update>

    <delete id="deleteById">
        delete
        from t_tag
        where id = #{id}
    </delete>

    <delete id="deleteBatch">
        delete from t_tag where id in (
        <foreach collection="ids" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>

    <select id="listTagOptions" resultType="com.ixcoret.blog.vo.TagSimpleVO">
        select id, tag_name tagName
        from t_tag;
    </select>

    <select id="countTags" resultType="java.lang.Integer">
        select count(id)
        from t_tag;
    </select>

    <select id="listBackTags" resultType="com.ixcoret.blog.vo.TagBackVO">
        select t.id, t.tag_name tagName, count(a.id) articleCount, t.create_time createTime
        from (select id, tag_name, create_time from t_tag order by id desc limit #{index}, #{pageSize}) t
                 left join t_article_tag a_t on t.id = a_t.tag_id
                 left join t_article a on a_t.article_id = a.id
        group by t.id

    </select>

    <select id="getByName" resultType="com.ixcoret.blog.entity.Tag">
        select
        <include refid="Base_Column_List"></include>
        from t_tag where tag_name = #{tagName}
    </select>

    <select id="listTagsInTagNameList" resultType="com.ixcoret.blog.entity.Tag">
        select id, tag_name tagName from t_tag where tag_name in (
        <foreach collection="tagNameList" item="tagName" separator=",">
            #{tagName}
        </foreach>
        )
    </select>

    <select id="listTagNameByArticleId" resultType="java.lang.String">
        select t.tag_name
        from t_tag t join t_article_tag a_t on t.id = a_t.tag_id
        where a_t.article_id = #{articleId}
    </select>

    <select id="getByArticleId" resultType="com.ixcoret.blog.vo.TagSimpleVO">
        select
            t.id, t.tag_name tagName
        from t_tag t join t_article_tag a_t on a_t.tag_id = t.id where a_t.article_id = #{articleId}
    </select>

</mapper>